/*Global styles*/
* {
  box-sizing: border-box;
}

/*Styles for html*/
html{
min-height:100%;
transition: background-color 1s;
}

/*body styles for full width&height background image*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: $mainWhite;
  background-color: $mainBlack;
  min-height: 100%;
}

/*Global image styles*/
img {
  max-width: 100%;
  height: auto;
  border-radius: 1%;
}

.content {
  display: none;
}
