/*Global styles*/
* {
  box-sizing: border-box;
}

/*Styles for html*/
html{
  min-height:100%;
  min-width: 100%;
}

/*Global body styles*/
body {
  font-family: 'Menlio', sans-serif;
  font-weight: 300;
  color: $mainWhite;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
}

/*Global image styles*/
img {
  max-width: 100%;
  border-radius: 0.5%;
  vertical-align: top;
}

/*Entire content of the page is hidden until the loader animation is complete*/
.site-content {
  display: none;
  margin: 0 auto;
  padding: 0;
}
/*Global highlight styles*/
.highlight {
  font-weight: 300;
  color: $mainGold;
  opacity: 0.75;
}
