/*Global styles*/
* {
  box-sizing: border-box;
}

/*Styles for html*/
html{
min-height:100%;
}

/*body styles for full width&height background image*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: $mainWhite;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 100%;
  width: auto;
}

/*Global image styles*/
img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5%;
}

ul {
  list-style: none;
}

/*Entire content of the page is being hidden until the loader shows up*/
.site-content {
  display: none;
  margin: 0;
  padding: 0;
}
