/*styles for buttons*/
.btn {
  background-color: $mainFreshBlack;
  display: block;
  color: $mainWhite;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: 1.5px solid $mainGrey;
  border-radius: 1%;
  z-index: 9;
  font-size: 14.5px;
  width: 55%;
  height: auto;
  padding: 10px 0;
  margin-top: -27%;
  left: 28%;

  @mixin atMini {
    font-size: 15.5px;
    margin-top: -24%;
    width: 40%;
  }
  @mixin atSmall {
    font-size: 15.5px;
    margin-top: -25%;
    width: 40%;
  }
  @mixin atMedium {
    font-size: 16.5px;
    margin-top: -27%;
  }
  @mixin atLarge {
    font-size: 18px;
    width: 45%;
    height: auto;
    padding: 10px 0;
    margin-top: -28%;
    left: 30%;
  }

  /*styles for footer button*/
  &--footer {
    position: relative;
    top: 14px;
    left: 2.25%;
    width: auto;
    height: auto;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: -20px;

    @mixin atSmall {
      top: -10px;
      left: 21%;
      margin-bottom: -50px;
    }
    @mixin atMedium {
      top: -10px;
      left: 12%;
      margin-bottom: -50px;
    }
    @mixin atLarge {
      top: -10px;
      left: 10%;
      margin-bottom: -50px;
    }
    @mixin atExtraLarge {
      top: -10px;
      left: 7.25%;
      margin-bottom: -50px;
    }
  }
  /*styles for travel view project button*/
  &--travel {
    top: 0;
    left: 6%;
    width: auto;
    height: auto;
    padding: 10px 15px;
    display: inline-block;

    @mixin atSmall {
      left: 8%;
    }
    @mixin atMedium {
      left: 8%;
    }
    @mixin atLarge {
      left: 1.5%;
    }
    @mixin atExtraLarge {
      left: 9.5%;
    }
  }

    &:hover {
      color: $mainBlack;
      font-weight: 600;
      background-color: $mainWhite;
      transition: all .5s ease-out;
    }
}
