/*styles for buttons*/
.btn {
  background-color: transparent;
  display: inline-block;
  color: $mainWhite;
  position: relative;
  font-size: 21px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin-top: -90px;
  display: block;
  border: 1px solid $mainGrey;
  border-radius: 1%;
  top: 0;
  left: 65px;
  transition: all .5s ease-out;

  /*styles for footer button*/
  &--footer {
    top: 0;
    left: 7%;
    display: inline-block;
    margin-bottom: -50px;
  }
  /*styles for travel view project button*/
  &--travel {
    top: 0;
    left: 5%;
    display: inline-block;
    margin-bottom: 0;
  }

    &:hover {
      color: $mainBlack;
      background-color: $mainWhite;
      transition: all .5s ease-out;
    }

  @mixin atSmall {
    width: 55px;
    font-size: 28px;
    margin-left: 0;
    transform: translateX(8%);
    transform-origin: 0 -220%;
    transition: all .5s ease-out;
  }

  @mixin atMedium {
    width: 130px;
    height: 40px;
    font-size: 16px;
    padding-top: 10px;
    transition: all .5s ease-out;
  }

  @mixin atLarge {
    font-weight: 500;
    transform: translateX(15%);
    transform-origin: 0 -162%;
    transition: all .5s ease-out;
  }
}
