/*styles for card container*/
.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  perspective: 1024px;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  background-color: $mainLightBlack;
  box-shadow: 0 0 0 60px $mainLightBlack;

  @mixin atMini {
    background-color: $mainLightBlack;
    box-shadow: 0 0 0 50px $mainLightBlack;
  }
  @mixin atSmall {
    background-color: $mainLightBlack;
    box-shadow: 0 0 0 60px $mainLightBlack;
  }
  @mixin atMedium {
    background-color: $mainLightBlack;
    box-shadow: 0 0 0 75px $mainLightBlack;
  }
  @mixin atLarge {
    background-color: $mainLightBlack;
    box-shadow: 0 0 0 60px $mainLightBlack;
  }

/*styles for card layer*/
  &--extended--2nd {
     margin-top: 10px;
     margin-bottom: 50px;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
     background-color: unset;
     box-shadow: unset;

  @mixin atLarge {
    margin-top: 70px;
    margin-bottom: 30px;
    }
  }
  &--extended--3rd {
     margin-top: -40px;
     margin-bottom: 50px;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
     background-color: unset;
     box-shadow: unset;

    @mixin atLarge {
      margin-top: 40px;
      margin-bottom: 70px;
    }
  }
}
/*styles for experience cards*/
.card {
  z-index: 2;
  border-radius: 1%;
  height: 280px;
  width: 250px;
  margin: 20px;
  display: flex;
  perspective-origin: center;
  flex-flow: column nowrap;
  opacity: 1;

    &:nth-of-type(1) {
       justify-content: space-around;
     }

    &:nth-of-type(2) {
       justify-content: space-around;
     }

    &:nth-of-type(3) {
       justify-content: space-around;
     }

    &:nth-of-type(4) {
       justify-content: space-around;
     }

    &--top,
    &--bottom {
       padding: 7px;
       display: flex;
       flex-flow: column wrap;

      h2 {
        color: $mainFreshBlack;
        font-style: italic;
        font-size: 1.3rem;
      }
    }

    &--top {
      background-color: rgba(150, 150, 150, 0.1);
      align-items: center;
      justify-content: center;
      flex: 1;
     }

    &--bottom {
      height: 75px;
      background-color: $mainWhite;
      opacity: .9;
      text-align: center;
      align-items: center;
      justify-content: space-around;

    & > h2 {
    &:hover {
      transform: scale(1.1);
      transition: all .5s ease-out;
     }
    }
  }
}
