/*styles for outer circle*/
.circle-outer {
	background: $mainGrey;
	border-radius:50px;
	width: 45px;
	height: 45px;
  float: right;
  margin-top: 10px;
  padding-left: 0;
  display: block;
  position: absolute;
	cursor: pointer;
}
/*styles for circle*/
.circle {
	background: $mainWhite;
	border-radius:50px;
	/*box-shadow: 1px 1px 40px $mainRed;*/
	width: 30px;
	height: 30px;
  float: right;
  margin-top: 16.5px;
  margin-left: 8px;
  padding-left: 0;
	border:5px solid $mainGrey;
  display: block;
  position: absolute;
	cursor: pointer;
}
.circle:hover {
	box-shadow: 1px 1px 40px $mainLightBlack;
}

/*styles for footer section seperator*/
.diamond {
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(50%, 50%);
	transform-origin: 0 50%;
	display: inline-block;
	background-color: $mainBlack;
	border: 1.5px solid $mainGold;
	box-shadow: 0 0 0 8px $mainBlack;
  height: 25px;
	width: 25px;
  transform:rotate(45deg);
}

/*styles for section seperator*/
hr.separator:before {
background: none repeat scroll 0% 0% $mainGold;
content: "";
height: 20px;
width: 20px;
left: 50%;
margin: -10.5px auto auto -8px;
position: absolute;
transform: rotate(-45deg);
}
hr.separator {
border: 1px solid $mainLightBlack;
opacity: .6;
width: auto;
clear: both;
}
hr.separator:after {
background: none repeat scroll 0% 0% $mainLightBlack;
content: "";
height: 35px;
width: 35px;
left: 50%;
margin: -18px auto auto -15px;
position: absolute;
transform: rotate(-45deg);
}
