/*styles for outer circle*/
.circle-outer {
	background: rgba($mainGrey, 1);
	border-radius:50px;
	width: 45px;
	height: 45px;
  float: right;
  margin-top: 10px;
  padding-left: 0;
  display: block;
  position: absolute;
	cursor: pointer;
}
/*styles for circle*/
.circle {
	background: $mainGold;
	border-radius:50px;
	/*box-shadow: 1px 1px 40px $mainRed;*/
	width: 30px;
	height: 30px;
  float: right;
  margin-top: 16.5px;
  margin-left: 8px;
  padding-left: 0;
	border:5px solid $mainGrey;
  display: block;
  position: absolute;
	cursor: pointer;
}
.circle:hover {
	box-shadow: 1px 1px 40px $mainRed;
}
.line {
	z-index: 5;
		border: 0;
    height: 1px;
    background: $mainGold;
}

.diamond {
	z-index: 1;
	position: relative;
	top: 0;
	left: 45%;
	transform: translate(50%, 50%);
	transform-origin: 0 210%;
	display: inline-block;
	fill: $mainGold;
	border: 1px solid $mainGold;
	box-shadow: 0 0 0 8px $mainLightBlack;
  background: $mainDarkBlack;
  height: 35px;
	width: 35px;
  text-align: center;
  transform:rotate(45deg);

}
