/*styles for outer circle*/
.circle-outer {
	background: rgba($mainGrey, 1);
	border-radius:50px;
	width: 45px;
	height: 45px;
  float: right;
  margin-top: 10px;
  padding-left: 0;
  display: block;
  position: absolute;
	cursor: pointer;
}
/*styles for circle*/
.circle {
	background: $mainGold;
	border-radius:50px;
	width:35px;
	height:35px;
  float: right;
  margin-top: 15px;
  margin-left: 5px;
  padding-left: 0;
	border:5px solid $mainGrey;
  box-shadow: 1px 1px 40px $mainRed;
  display: block;
  position: absolute;
	cursor: pointer;
}
