.generic-content-container {
  width: 800px;
  float: left;
  background-color: $mainFreshBlack;
  box-shadow: 0 0 0 145px $mainFreshBlack;
  @mixin clearfix;

  p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 1.125rem;
    }
  }
}
