/*styles for generic content container and section layer*/
.generic-content-container {
  width: 280px;
  float: left;
  margin-top: 25px;
  background-color: $mainLightBlack;
  box-shadow: 0 0 0 65px $mainLightBlack;
  @mixin clearfix;

  &__special::first-letter {
    font-size: 30px;
    color: $mainGold;
    opacity: 0.7;
  }

  @mixin atMini {
    width: 320px;
    margin-top: 30px;
  }
  @mixin atSmall {
    width: 430px;
    margin-top: 30px;
  }
  @mixin atMedium {
    width: 370px;
    margin-top: 10px;
  }
  @mixin atLarge {
    width: 600px;
    margin-top: -30px;
  }
  @mixin atExtraLarge {
    width: 800px;
    margin-top: -30px;
  }
  &__special {
    font-size: 18px;
    line-height: 1.75;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 19px;
      line-height: 1.8;
    }
    @mixin atLarge {
      font-size: 20px;
      line-height: 1.8;
    }
  }
  /*styles for photography section layer*/
  &--extended {
    width: 280px;
    margin-top: 60px;
    margin-bottom: auto;
    background-color: $mainLightBlack;
    box-shadow: 0 0 0 90px $mainLightBlack;

    @mixin atMini {
      width: 320px;
      margin-top: 30px;
      box-shadow: 0 0 0 75px $mainLightBlack;
    }
    @mixin atSmall {
      width: 430px;
      margin-top: 30px;
    }
    @mixin atMedium {
      width: 350px;
      margin-top: 10px;
      margin-left: 26%;
    }
    @mixin atLarge {
      margin-left: 25%;
      width: 500px;
      margin-top: -30px;
      box-shadow: 0 0 0 60px $mainLightBlack;
    }
    @mixin atExtraLarge {
      margin-left: 30%;
      width: 500px;
      margin-top: -30px;
    }
    p {
      font-size: 18px;
      line-height: 1.75;
      margin: 0 0 1.8rem 0;

      @mixin atSmall {
        font-size: 18px;
        line-height: 1.8;
      }
      @mixin atLarge {
        font-size: 20px;
        line-height: 1.8;
      }
    }
    ul li {
      line-height: 1.85;
      list-style: square;
      font-size: 18px;
      font-weight: 450;

      &:nth-child(1) {
        color: $mainGold;
        opacity: 0.75;
      }
      &:nth-child(3) {
        color: $mainGold;
        opacity: 0.75;
      }
    }
  }
  /*styles for project section layer*/
  &--narrow {
    width: auto;
    margin-top: 85px;
    background-color: $mainLightBlack;
    box-shadow: 0 0 0 140px $mainLightBlack;

    @mixin atMini {
      margin-top: 70px;
      box-shadow: 0 0 0 75px $mainLightBlack;
    }
    @mixin atSmall {
      margin-top: 70px;
      box-shadow: 0 0 0 130px $mainLightBlack;
    }
    @mixin atMedium {
      margin-top: 50px;
      box-shadow: 0 0 0 90px $mainLightBlack;
    }
    @mixin atLarge {
      margin-top: 70px;
      box-shadow: 0 0 0 160px $mainLightBlack;
    }
  }
}
