/*styles for generic content container and section layer*/
.generic-content-container {
  width: 280px;
  float: left;
  margin-top: 25px;
  background-color: $mainLightBlack;
  box-shadow: 0 0 6px 65px $mainLightBlack;
  @mixin clearfix;

  @mixin atLarge {
    width: 800px;
    margin-top: 0;
  }

  /*styles for project section layer*/
  &--narrow {
    width: auto;
    background-color: $mainLightBlack;
    box-shadow: 0 0 6px 170px $mainLightBlack;
  }

  p {
    line-height: 1.65;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 17px;
    }
  }
}
