/*Styles for section headlines */
.headline {
  text-transform: capitalize;
  text-align: center;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 500;
  color: $mainWhite;
  top: 0;
  left: 0;
  /*transform: translateX(4%) scale(.8);
  transform-origin: 0 -860%;*/
  transition: all .5s ease-out;
  z-index: 10;

  /*styles for headline travel*/
  &--travel {
    text-transform: capitalize;
    font-size: 33px;
    transform: translateX(4%) scale(1);
    transform-origin: 0 -700%;
    transition: all .5s ease-out;
  }

  @mixin atSmall {
    font-size: 22px;
    transform: translateX(0) scale(.8);
    transform-origin: 0 -1200%;
    transition: all .5s ease-out;
  }
  @mixin atMedium {
    font-size: 33px;
    /*transform-origin: 0 -700%;*/
    transition: all .5s ease-out;
    /*transform: translateX(-6%) scale(1);*/
  }
  @mixin atLarge {
    font-size: 26px;
    transform-origin: 0 0;
    transition: all .5s ease-out;
  }
}
