/*Styles for section headlines */
.headline {
  text-transform: capitalize;
  text-align: center;
  padding: 20px 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: $mainWhite;
  margin-top: -1%;
  transition: all .5s ease-out;
  z-index: 10;

  @mixin atSmall {
    font-size: 19px;
  }
  @mixin atMedium {
    font-size: 20px;
  }
  @mixin atLarge {
    font-size: 21px;
  }

  /*styles for headline travel*/
  &--travel {
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    transition: all .5s ease-out;

    @mixin atSmall {
      font-size: 23px;
      margin-left: 15%;
    }
    @mixin atMedium {
      font-size: 27px;
      margin-left: 25%;
    }
    @mixin atLarge {
      display: block;
      font-size: 27px;
      transform: translateX(0);
      transform-origin: 0 -700%;
    }
    @mixin atExtraLarge {
      display: block;
      font-size: 30px;
      transform: translateX(10%);
      transform-origin: 0 -700%;
    }
  }
}
