/*styles for loader*/
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  transition: all .3s ease-out;

  /*styles outer loader*/
  &__outer {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $mainGrey;
      position :absolute;
      animation: loader 2.5s linear infinite;
      transform: scale(.1);
      opacity: 1;
  }
  /*styles for loader inner*/
  &__inner {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $mainWhite;
      position :absolute loader 5s infinite; /*magic*/
      animation: loader 2.5s linear infinite;
      transform: scale(.1);
      opacity: .5;
      animation-delay: -.5s;
  }
}
/* loader animation */
@keyframes loader {
    0%   {
      top: 0px;
      background: $mainGrey;
      transform: scale(0);
    }
    25%  {
      top: 0px;
      background: $mainWhite;
      transform: scale(.7);
    }
    50%  {
      top: 0px;
      background: $mainGold;
      transform: scale(.2);
    }
    75%  {
      top: 0px;
      background: $mainGrey;
      transform: scale(.4);
    }
    100% {
      top: 0px;
      background: $mainLightBlack;
      transform: scale(1.2);
      opacity: .5;
      transition: all .3s ease-out;
    }
}
