/*Styles for Navbar*/
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 55px;
    z-index: 9999;
    position: fixed;
}

/*Styles for navbar-nav*/
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 10px;
}
