/*styles for page section*/
.page-section {
  padding: 0 0;

  @mixin atMedium {
    padding: 0 0 0 0;
  }
  @mixin atLarge {
    padding: 0 0;
  }
  @mixin atExtraLarge {
    padding: 0 0;
  }
}
