/*styles for page section*/
.page-section {
  padding: 0 0;
  max-width: 1236px;
  margin: auto;

  @mixin atMedium {
    padding: 0 0 0 0;
  }
  @mixin atLarge {
    padding: 0 0;
  }
  @mixin atExtraLarge {
    padding: 0 0;
  }
}
