/*Styles for photo grid column*/
#columns {
	column-width: 320px;
	column-gap: 0;
  width: 100%;
	max-width: 1236px;
	margin: 30px auto;
	background-color: $mainLightBlack;
	padding: 20px;

	figure {
		background: $mainFreshBlack;
		border: 1px solid $mainLightWhite;
		margin: 15px;
		padding: 15px;
		transition: opacity .5s ease-out;
	  display: inline-block;
	  column-break-inside: avoid;

		img {
			width: 100%;
		  height: auto;
			border-bottom: 1px solid $mainLightWhite;
			padding-bottom: 15px;
			margin-bottom: 5px;
		}
		figcaption {
		  font-size: 16px;
			font-weight: 200;
			color: $mainLightWhite;
		  line-height: 1.5;
		}
	}
	&:hover figure {
	  cursor: pointer;
	  border: 1px solid $mainGoldLight;
    transition: border 0.5s ease-out;
	}
  &:hover figure:not(:hover) {
	  border: 1px solid $mainLightWhite;
	}
}

&:focus,
&:active {
  background-color: transparent;
}
