/*Styles for photo grid column*/
#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;

	figure {
		background: $mainFreshBlack;
		border: 1px solid $mainWhite;
		margin: 0 2px 15px;
		padding: 15px;
		padding-bottom: 10px;
		transition: opacity .5s ease-out;
	  display: inline-block;
	  column-break-inside: avoid;

		img {
			width: 100%;
		  height: auto;
			border-bottom: 1px solid $mainWhite;
			padding-bottom: 15px;
			margin-bottom: 5px;
		}
		figcaption {
		  font-size: .9rem;
			color: $mainWhite;
		  line-height: 1.5;
		}
	}
	&:hover figure{
	  border: 1px solid $mainGold;
	  cursor: pointer;
	}
	&:hover figure:not(:hover) {
	  border: 1px solid $mainWhite;
		opacity: 0.5;
	}
}

/*@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}*/
