/*styles for primary navigation*/
.primary-nav {
  margin-top: 30px;

  @mixin atMedium {
    padding-top: 0;
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }
  ul {
    margin: 0;
    padding: 0;
     @mixin clearfix;
  }
  li {
    list-style: none;
    text-transform: capitalize;
    display: inline-block;
    padding-right: 5px;

    @mixin atMedium {
      padding-right: 12px;
      float: left;
      display: block;
    }
  }
  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 12px;
    }
  }
  a {
    color: $mainWhite;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 8px 9px;
    margin: auto;

    @mixin atSmall {
      font-size: 15px;
      font-weight: 300;
    }
    @mixin atMedium {
      font-size: 21px;
      font-weight: 500;
      padding: 12px 12px;
    @mixin atLarge {
      font-size: 21px;
      font-weight: 500;
      padding: 12px 12px;
    }


      &:hover {
        color: $mainGold;
        transition: all .5s ease-out;
      }
      &:is-current-link {
        color: $mainGold;
      }
    }
  }
}
