/*styles for project section*/
.project {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  @mixin clearfix;

  &__list {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    float: left;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
    z-index: 5;

    &:first-child {
      margin-left: 4%;
      margin-top: -150px;
    }
    &:last-child {
      margin-top: -15px;
      margin-left: 50px;
      width: 75%;
    }
    @mixin atMini {
      &:first-child {
        margin-left: 5%;
        margin-top: -50%;
        width: 95%;
      }
      &:last-child {
        margin-left: 21%;
        width: 65%;
      }
    }
    @mixin atSmall {
      &:first-child {
        margin-left: 5%;
        margin-top: -150px;
        width: 95%;
      }
      &:last-child {
        margin-left: 21%;
        width: 65%;
      }
    }
    @mixin atMedium {
      &:first-child {
        margin-left: 13%;
        margin-top: -110px;
        width: 75%;
      }
      &:last-child {
        margin-left: 30%;
        margin-top: -35px;
        width: 40%;
      }
    }
    @mixin atLarge {
      max-width: 1024px;
      padding-top: 40px;

      &:first-child {
        margin-top: -150px;
        margin-left: -5px;
        max-width: 550px;
      }
      &:last-child {
        margin-top: -50%;
        margin-left: 74%;
        width: 28%;
      }
    }
    @mixin atExtraLarge {
      max-width: 1280px;
      padding-top: 40px;

      &:first-child {
        margin-top: -15%;
        margin-left: -5px;
        max-width: 550px;
      }
      &:last-child {
        margin-top: -42%;
        margin-left: 75%;
        width: 26%;
      }
    }
  }

  &__image {
    margin: 20px 0 20px 0;

    /*styles for first image frame*/
    &__frame {
      border: 1.25px solid $mainGold;
      opacity: 0.5;
      border-radius: 0.5%;
      width: 230px;
      height: 185px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, 20%);

      @mixin atMini {
        width: 270px;
        height: 215px;
        top: 0;
        left: 0;
        transform: translate(0, 21%);
      }
      @mixin atSmall {
        width: 375px;
        height: 300px;
        top: 0;
        left: 0;
        transform: translate(0, 12%);
      }
      @mixin atMedium {
        width: 495px;
        height: 395px;
        top: 0;
        left: 0;
        transform: translate(0, 10%);
      }
      @mixin atLarge {
        width: 500px;
        height: 395px;
        top: 0;
        left: 0;
        transform: translate(0, 10%);
      }
    }
    /*styles for second image frame*/
    &__frame--travel {
      border: 1.25px solid $mainGold;
      opacity: 0.5;
      border-radius: 0.5%;
      width: 175px;
      height: 245px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, 18%);

      @mixin atSmall {
        width: 240px;
        height: 355px;
        top: 0;
        left: 0;
        transform: translate(0, 11%);
      }
      @mixin atMedium {
        width: 260px;
        height: 380px;
        top: 0;
        left: 0;
        transform: translate(0, 20%);
      }
      @mixin atLarge {
        width: 240px;
        height: 355px;
        top: 0;
        left: 0;
        transform: translate(0, 20%);
      }
      @mixin atExtraLarge {
        width: 270px;
        height: 365px;
        top: 0;
        left: 0;
        transform: translate(0, 20%);
      }
    }
  }
}
