.project {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-top: 0;

  @mixin clearfix;

  &__list {
    padding-left: 0;
  }

  &__item {
    float: left;
    width: 100%;
    max-width: 1010px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
    z-index: 5;

    &:first-child {
      margin-top: -150px;
      max-width: 550px;
    }
    &:last-child {
      margin-top: -300px;
      margin-left: 290px;
      max-width: 300px;
    }
  }

  &__image {
    margin: 20px 0 20px 0;

    &__frame {
      border: 1.5px solid $mainGrey;
      border-radius: 0.5%;
      width: 500px;
      height: 405px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, 10%);

      &:hover {
        border: 1.5px solid $mainGold;
        cursor: pointer;
        transition: all .5s ease-out;
      }
    }
    &__frame--travel {
      border: 1.5px solid $mainGrey;
      border-radius: 0.5%;
      width: 260px;
      height: 395px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1%;
      transform: translate(0, 20%);

      &:hover {
        border: 1.5px solid $mainGold;
        cursor: pointer;
        transition: all .5s ease-out;
      }
    }
  }
}
