/*showcase styles*/
.profile {
  padding-bottom: 40px;
  margin-right: 50px;
  width: 30%;
  float: left;
  @mixin clearfix;

  /*Styles for biography photo */
  &__photo {


    @mixin atSmall {
      transition: all .3s ease-out;
    }
    @mixin atMedium {
      transition: all .3s ease-out;
    }
    @mixin atLarge {
      top: -50%;
      left: 0;
      position: relative;
      transform: translate(0, -25%) scale(.85);
      transition: all .3s ease-out;
    }
  }
  /*styles for box frame*/
  &__photo__frame {
    border: 1px solid $mainGold;
    border-radius: 1%;
  	width: 250px;
  	height: 280px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(45%, 100%) scale(1);
  }
}
