/*styles for radial progress bar animation*/
.progress-bar {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;

    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: $mainWhite;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;

        &:hover {
          color: $mainGold;
          transition: all .5s ease-out;
        }

        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }

    svg {
        width: 10rem;
        height: 10rem;

        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 3;
            stroke-dasharray: 100;
            stroke: $mainGrey;
            opacity: 1;
            animation: load 15s infinite;
        }
    }
}

@keyframes load{0%{stroke-dashoffset:0}}
