/*styles for radial progress bar animation*/
.progress-bar {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;

    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: $mainWhite;
        font-family: 'Ubuntu', 'Lato', sans-serif, times, arial;
        font-weight:100;
        margin: 0;

        &:hover {
          color: $mainGold;
          transition: all .5s ease-out;
        }

        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 4rem;
            left: -5px;
            font-size: 1.4rem;
            text-align: center;

            @mixin atSmall {
              left: 0;
            }
            @mixin atMedium {
              left: 0;
            }
            @mixin atLarge {
              left: 0;
            }
        }
    }

    svg {
        width: 10rem;
        height: 10rem;
        margin-left: -10px;

        @mixin atSmall {
          margin-left: 0;
        }
        @mixin atMedium {
          margin-left: 0;
        }
        @mixin atLarge {
          margin-left: 0;
        }

        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 3;
            stroke-dasharray: 9;
            stroke: $mainGrey;
            opacity: 1;
            animation: load 20s infinite linear;
        }
    }
}

@keyframes load{
0%{stroke-dashoffset: 2200};
}
