.section-title {
  font-weight: 300;
  font-size: 30px;
  opacity: .3;
  color: $mainWhite;
  z-index: 15;

  &--wide {
    margin-top: 150px;
  }
  &--narrow {
    margin-top: 70px;
  }

  @mixin atSmall {
    font-size: 34px;
  }
  @mixin atMedium {
    font-size: 38px;
  }
  @mixin atLarge {
    font-size: 40px;
  }
}
