/*styles for section titles*/
.section-title {
  top: 0;
  left: 0;
  width: 250px;
  padding-bottom: 10px;
  transform: translate(6%, -50%);
  position: relative;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  opacity: 0.5;
  color: $mainGold;
  z-index: 15;

  &--wide {
    margin-top: 150px;
  }
  &--narrow {
    margin-top: 20px;

    @mixin atSmall {
      margin-top: 30px;
    }

    @mixin atLarge {
      margin-top: 70px;
    }
  }

  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }
  &--modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall {
      position: relative;
      display: inline-block;
      top: 10px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  @mixin atSmall {
    font-size: 55px;
    left: 11%;
  }
  @mixin atMedium {
    font-size: 60px;
    left: 25%;
  }
  @mixin atLarge {
    top: 0;
    left: 6%;
    width: 500px;
    transform: translate(50%, -70%);
    font-size: 65px;
  }
}
