.section-title {
  top: 0;
  left: -20%;
  transform: translate(50%, -70%);
  position: relative;
  font-weight: 300;
  font-size: 40px;
  opacity: .2;
  color: rgba($mainWhite, .1);
  z-index: 15;

  &--wide {
    margin-top: 150px;
  }
  &--narrow {
    margin-top: 70px;
  }

  @mixin atSmall {
    font-size: 55px;
    opacity: .2;
  }
  @mixin atMedium {
    font-size: 60px;
    opacity: .15;
  }
  @mixin atLarge {
    font-size: 65px;
    opacity: .15;
  }
}
