/*showcase styles*/
.showcase {
  position: relative;
  background-color: $mainFreshBlack;
  text-align: center;
  border-radius: 1%;
  margin-right: 50px;
  left: 9%;
  max-width: 450px;
  max-height: 380px;
  margin-top: -33px;
  float: left;
  @mixin clearfix;

  @mixin atMini {
    margin-right: auto;
    max-width: 300px;
    max-height: 450px;
    margin-top: -3.5%;
    left: 3%;
  }
  @mixin atSmall {
    margin-right: auto;
    max-width: 300px;
    max-height: 450px;
    margin-top: -3.5%;
    left: 16%;
  }
  @mixin atMedium {
    margin-right: 50px;
    max-width: 250px;
    max-height: 440px;
    margin-top: -6%;
    left: 0;
  }
  @mixin atLarge {
    margin-right: 50px;
    max-width: 300px;
    max-height: 465px;
    margin-top: -13.5%;
    left: -0.5%;
  }
  @mixin atExtraLarge {
    margin-right: 50px;
    max-width: 300px;
    max-height: 465px;
    margin-top: -14.5%;
    left: -0.5%;
  }

  /*Styles for biography photo */
  &__photo {
    width: 100%;
    opacity: 0.9;
    top: -50%;
    left: 0;
    transform: translate(-17%, -6%) scale(.85);

    @mixin atMini {
      margin-left: 51px;
      margin-top: 15px;
    }
    @mixin atSmall {
      margin-left: 50.5px;
      margin-top: 15px;
    }
    @mixin atMedium {
      margin-left: 42.5px;
      margin-top: 30px;
    }
    @mixin atLarge {
      top: -50%;
      left: 0;
      transform: translate(-14%, -10%) scale(.85);
    }
  }
  /*styles for photo frame*/
  &__photo__frame {
    border: 2.5px solid $mainGrey;
    opacity: 0.3;
    border-radius: 0.5%;
  	width: 198px;
  	height: 238px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(13%, 11%);

    @mixin atMini {
      width: 258px;
    	height: 305px;
    }
    @mixin atSmall {
      width: 255px;
    	height: 303px;
    }
    @mixin atMedium {
      width: 215px;
    	height: 270px;
    }
    @mixin atLarge {
      width: 255px;
    	height: 310px;
    }
  }
}
