/*showcase styles*/
.showcase {
  position: relative;
  background-color: $mainFreshBlack;
  text-align: center;
  border-radius: 1%;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  padding: 8px;

  @mixin atMini {
    max-width: 300px;
  }
  @mixin atSmall {
    max-width: 300px;
  }

  /*Styles for biography photo */
  &__photo {
    width: 100%;
    opacity: 0.9;
    top: -50%;
    left: 0;
    padding: 16px;
    transform: translate(-15%, -9%) scale(.85);

    @mixin atMini {
      margin-left: 42.5px;
      margin-top: 15px;
    }
    @mixin atMedium {
      margin-top: 30px;
    }
    @mixin atLarge {
      top: -50%;
      left: 0;
      transform: translate(-14%, -10%) scale(.85);
    }
  }
  /*styles for photo frame*/
  &__photo__frame {
    border: 2.5px solid $mainGrey;
    opacity: 0.5;
    border-radius: 0.5%;
  	width: 198px;
  	height: 238px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(8%, 6%);

    @mixin atMini {
      width: 258px;
    	height: 285px;
    }
    @mixin atMedium {
    	height: 315px;
    }
  }
}
