/*footer styles*/
.site-footer{
  padding: .5rem 0;
  text-align: center;
  left: 300px;

  &--text {
    display: inline-block;
    color: $mainGold;
    font-size: 17px;
    font-weight: 400;
  }
}
