/*footer styles*/
.site-footer{
  padding: 9px 0;
  margin-top: -9px;
  text-align: center;
  background-color: $mainFreshBlack;

  &--text {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 40px;
    color: $mainWhite;
    font-size: 16px;

    @mixin atSmall {
      margin-left: -23%;
      top: 50px;
      font-size: 17px;
    }
    @mixin atMedium {
      margin-left: -15%;
      top: 50px;
      font-size: 17px;
    }
    @mixin atLarge {
      margin-left: -10%;
      top: 50px;
      font-size: 17px;
    }
  }
}
