.site-header {
  position: absolute;
  width: 100%;
  z-index: 2;


  &__logo-container {
    float: left;
      @mixin clearfix;
  }

  &__name {
    text-transform: uppercase;
    text-decoration: none;
    color: $mainWhite;
    font-size: 19px;
    font-weight: 900;
  }
}
