/*footer styles*/
.site-footer{
  padding: .5rem 0;
  text-align: center;
  /*display: block;
  position: relative;*/

&--text {
  display: block;
  color: $mainGrey;
  font-weight: 400;
  text-align: center;
}
}
