/*styles for site-header*/
.site-header {
  padding-bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color .3s ease-out;

  /*site-header styles for mobile devices*/
  &--is-expanded {
    padding-bottom: 18px;
    background-color: rgba($mainGrey, .2);
  }
  /*styles for logo container*/
  &__logo-container {
    transform: translateX(-15%) scale(.80);
    transform-origin: 50% 0;
    transition: all .5s ease-out;
    float: left;
    @mixin clearfix;

    &:hover {
      .site-header__logo {
        background-color: $mainGrey;
        color: $mainWhite;
        transition: all .5s ease-out;
      }
      .site-header__name {
        color: $mainGold;
        transition: all .5s ease-out;
      }
    }

    @mixin atSmall {
        transform: translateX(-10%) scale(.85);
        transform-origin: 50% 0;
        transition: all .5s ease-out;
    }
    @mixin atMedium {
      transform: translateX(-3%) scale(.95);
      transform-origin: 50% 0;
      transition: all .5s ease-out;
    }
    @mixin atLarge {
      transform: translateX(-3%) scale(1);
      transform-origin: 50% 0;
      transition: all .5s ease-out;
    }
  }
  /*site header logo stamp*/
  &__logo {
    background-color: $mainGold;
    opacity: .8;
    border-radius: 2%;
    color: $mainFreshBlack;
    text-decoration: none;
    font-size: 23px;
    font-weight: 900;
    padding: 20px 20px;
    margin: 19px 10px 0 0;
    display: inline-block;
  }
  /*site header logo name*/
  &__name {
    display: none;

    @mixin atMedium {
      text-transform: uppercase;
      text-decoration: none;
      color: $mainWhite;
      font-size: 23px;
      font-weight: 500;
      display: inline-block;
    }
  }
  /*styles for menu content*/
  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    text-align: center;
    z-index: -10;
    position: relative;

    @mixin atMedium {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
    /*make menu content visible*/
    &--is-visible {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
  }
  /*styles for menu button*/
  &__menu-button {
    transform: scale(.95);
    margin: 8px 35px 0 0;
    display: inline-block;
    position: relative;
    z-index: 10;
    float: right;
    @mixin clearfix;

    @mixin atSmall {
      display: inline-block;
    }
    @mixin atMedium {
      display: none;
      /*transform: scale(1);
      transition: all .5s ease-out;
      padding-top: 3px;*/
    }
    @mixin atLarge {
      display: none;
      /*transform: scale(1);
      transition: all .5s ease-out;
      padding-top: 3px;*/
    }
  }
}
